/* ------------------------General font/body content ----------------------*/

@font-face {
    font-family: myFontBold;
    src: url("../font/BryantPro-Bold.woff") format("woff"), url("../font/BryantPro-bold.woff2") format("woff2");
}
@font-face {
    font-family: myFontRegular;
    src: url("../font/BryantPro-Regular.woff") format("woff"), url("../font/BryantPro-Regular.woff2") format("woff2");
}

@font-face {
    font-family: myFontMedium;
    src: url("../font/BryantPro-Medium.woff") format("woff"), url("../font/BryantPro-Medium.woff2") format("woff2");
}

body{
    font-family: myFontBold, sans-serif;
    margin: 0;
    padding: 0;
    
}


h2 {
    font-family: myFontBold, sans-serif;
    color: black;
     
    
  
} 

p {
    margin: 0;
    color: white;
    position: relative;
    bottom: -130px;
    font-size: 20px;
    background-color: #252960;
    border-radius: 10px; 
}
/*--------------------------- Start Page  ---------------------------------*/

.start-screen-bg{
 
  height: 100vh; 
  

  background: url(../images/startScreen.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
    /* display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
     */
}

.opaque-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#space-title{
    color: white;
    background-color: #252960;
    border-radius: 15px;
    position: relative;
    top: 130px;
    animation: blinking 1.2s infinite;
    
}

@keyframes blinking{
    0%  {		color: #fff;	}
	49% {	color: rgba(255, 255, 255, 0.178);	}
	50% {	color: rgba(255, 255, 255, 0.178);	}
	99% {	color: rgb(255, 255, 255);	}
	100%{	color: #fff;	}
}


/* ---------------Button stylings------------------ */
.difficultyButtons {
    list-style: none;
    padding: 50px 0 0 0;
}

.levelButton {
    width: 140px;
    height: 50px;
    margin: 8px;
    color: white;
    
}


.levelButton:hover{
    color: white;
    
}

.cadetButton{
    background-color: #78ca78;
    border-bottom: 4px solid #519251;
    border-right: 4px solid #519251;
    box-shadow: 0.2px 2px 10px 2px #22222499;
    position: relative;
    bottom: -100px;
}

.pilotButton{
    
    background-color: #6c29e9;
    border-bottom: 4px solid #521fb2;
    border-right: 4px solid #521fb2;
    box-shadow: 0.2px 2px 10px 2px #252960;
    position: relative;
    bottom: -100px;
}

.commanderButton{
    
    background-color: #cf6464;
    border-bottom: 4px solid #854040;
    border-right: 4px solid #854040;
    box-shadow: 0.2px 2px 10px 2px #252960;
    position: relative;
    bottom: -100px;
}

/*------- Game page ----------*/ 

.game-background{

    height: 140vh;
  

  background: url(../images/startScreen.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  

  

}

.game-info{
    color: white;
    font-size: 2.2em;
    background-color: #252960;
    border-radius: 40px;
    margin: 0 20px 0 20px;
    position: relative;
    top: 20px;
}

.game-container{
    perspective: 500px;
}

.game-card{
    position: relative;
    height: 175px;
    width: 125px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid #252960;
    box-shadow: 2.2px 2px 11px 2px #101129;


}

.game-card:hover .card-back{
    transform: rotateY(-180deg);
}

.game-card:hover .card-front{
    transform: rotateY(0);
}

.card-spacing{
    padding: 10px;
    position: relative;
    top: 20px;
}
/*------ card design ----*/

.card-face{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
}



.card-front{
    transform: rotateY(180deg);
    background: radial-gradient(#813402, #000000);
    border: 2px solid #4a1e01;
    border-radius: 5px;
}

.frontIMG{
    width: 100px;
    height: 100px;
    transform: scale(1);
    transition: transform .2s ease-in-out;
}

.card-front:hover .frontIMG{
    transform: scale(1.4);
}

.card-back{
    background: radial-gradient(#4b53c6, #090a19);
    border-radius: 5px;
}


 .card-back-title{
    position: relative;
    margin: auto;
    right: 49px; 
    font-size: 14px;
    color: white;
    background-color: #2c306bfc;
    border-radius: 20px;
    transition: font-size 200ms ease-in-out;
} 

.card-back:hover .card-back-title{
    font-size: 15px;
}

.rocket{
    position: absolute;
    width: 30px;
    height: 30px;
    transition: height 100ms ease-in-out, width 100ms ease-in-out;
    
}

.card-face:hover .rocket{
    height: 40px;
    width: 40px;
}

.rocket-top-left{
    transform: rotate(90deg);
    top:0;
    left:0;
    
}

.rocket-top-right{
    transform: rotate(180deg);
    top:0;
    right:0;
    
}

.rocket-bottom-left{
   
    bottom: 0;
    left: 0;
    
}
.rocket-bottom-right{
    bottom:0;
    right: 0;
    transform: rotate(-90deg);
    
}

.saturn{
    width: 100px;
    height: 100px;  
    position: relative;
    left: 54px;
    transition: transform .2s ease-in-out;


}

.frontIMG{
    width: 100px;
    height: 100px;

}

.card-back:hover .saturn{

    transform: rotate(90deg);
    
}