/* ------------------------General font/body content ----------------------*/

@font-face {
    font-family: myFontBold;
    src: url("../font/BryantPro-Bold.woff") format("woff"), url("../font/BryantPro-bold.woff2") format("woff2");
}
@font-face {
    font-family: myFontRegular;
    src: url("../font/BryantPro-Regular.woff") format("woff"), url("../font/BryantPro-Regular.woff2") format("woff2");
}

@font-face {
    font-family: myFontMedium;
    src: url("../font/BryantPro-Medium.woff") format("woff"), url("../font/BryantPro-Medium.woff2") format("woff2");
}

body{
    font-family: myFontBold, sans-serif;
    margin: 0;
    padding: 0;
    
}


h2 {
    font-family: myFontBold, sans-serif;
    color: black;
     
    
  
} 

p {
    margin: 0;
    color: white;
    position: relative;
    bottom: -130px;
    font-size: 20px;
    background-color: #252960;
    border-radius: 10px; 
}
/*--------------------------- Start Page  ---------------------------------*/

.start-screen-bg{
 
  height: 100vh; 
  

  background: url(../images/startScreen.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
    /* display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
     */
}

.opaque-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#space-title{
    color: white;
    background-color: #252960;
    border-radius: 15px;
    position: relative;
    top: 130px;
    animation: blinking 1.2s infinite;
    
}

@keyframes blinking{
    0%  {		color: #fff;	}
	49% {	color: rgba(255, 255, 255, 0.178);	}
	50% {	color: rgba(255, 255, 255, 0.178);	}
	99% {	color: rgb(255, 255, 255);	}
	100%{	color: #fff;	}
}


/* ---------------Button stylings------------------ */
.difficultyButtons {
    list-style: none;
    padding: 50px 0 0 0;
}

.levelButton {
    width: 140px;
    height: 50px;
    margin: 8px;
    color: white;
    
}


.levelButton:hover{
    color: white;
    
}

.cadetButton{
    background-color: #78ca78;
    border-bottom: 4px solid #519251;
    border-right: 4px solid #519251;
    box-shadow: 0.2px 2px 10px 2px #22222499;
    position: relative;
    bottom: -100px;
}

.pilotButton{
    
    background-color: #6c29e9;
    border-bottom: 4px solid #521fb2;
    border-right: 4px solid #521fb2;
    box-shadow: 0.2px 2px 10px 2px #252960;
    position: relative;
    bottom: -100px;
}

.commanderButton{
    
    background-color: #cf6464;
    border-bottom: 4px solid #854040;
    border-right: 4px solid #854040;
    box-shadow: 0.2px 2px 10px 2px #252960;
    position: relative;
    bottom: -100px;
}

/*------- Game page ----------*/ 

.game-background{

    height: 140vh;
  

  background: url(../images/startScreen.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  

  

}

.game-info{
    color: white;
    font-size: 2.2em;
    background-color: #252960;
    border-radius: 40px;
    margin: 0 20px 0 20px;
    position: relative;
    top: 20px;
}

.game-card{
    background-color: white;
    height: 175px;
    width: 125px;
    margin: auto;

}

.card-spacing{
    padding: 10px;
    position: relative;
    top: 20px;
}